.Documentation {
  position: relative;
  max-width: 1440px;
  height: 3081px;

  margin: 0 auto;
}

.Header {
  width: 1440px;
  height: 80px;
  
}

.Header-block {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  padding: 10px 120px 0px 120px;

  position: fixed;
  z-index: 2;
}

.Header-block_language {
  font-family: "Tourney", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.04em;
}

.Header-block_nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Header-block_nav-text {
  font-family: "Staatliches", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: #000000;

  word-spacing: normal;
}

.Header-block_Logo {
  position: absolute;
  width: 238px;
  height: 54px;
  left: 962px;
  top: 0px;
}

.grid-conteiner {
  display: grid;
grid-template-columns: 385px 1fr;
grid-template-rows: 1fr;
gap: 50px;
grid-template-areas: "side main";


}

 .side-bar {

position: sticky;
top: 180px;
height: 100%;
gap: 60px;

 }

 .side-bar_line {
 border-bottom: 1px solid;
 padding-top: 30px;
 }

.main-text {
 
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 90px;
  max-width: 100%;


background-image: url("/assets/bg-picture.png");
background-repeat: no-repeat;
background-position: fixed;
background-position: right  top 16px;
}


.Chapter1 {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;



  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

  h2 {
    margin-bottom: 0;
  font-family: "Francois One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
}

.Chapter-title_sup {
  font-family: "Farro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.04em;

  color: #000000;
  text-transform: none;
}

.Chapter-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;

  color: #000000;
  margin: 0;

}

.Chapter2 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;



  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.Chapter3 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

 

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.color {
  background-color: rgb(192, 188, 188);
}

.Chapter4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;


  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}
